@model Boy_Scouts_Scheduler.Models.SchedulingConstraint

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SchedulingConstraint</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Start)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Start)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.End)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.End)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinVisits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinVisits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxVisits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxVisits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
