@model Boy_Scouts_Scheduler.Models.SchedulingConstraint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Constraint</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Start)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Start)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.End)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.End)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinVisits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinVisits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxVisits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxVisits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
