@model Boy_Scouts_Scheduler.Models.SchedulingConstraint

<tr @if (Model != null) {
    @:data-pkey="@Model.ID"
}>
    <td>
        @Html.EditorFor(model => model.Group)
        @Html.ValidationMessageFor(model => model.Group)
    </td>
    <td>
        @Html.EditorFor(model => model.GroupType)
        @Html.ValidationMessageFor(model => model.GroupType)
    </td>
    <td>
        @Html.EditorFor(model => model.Station)
        @Html.ValidationMessageFor(model => model.Station)
    </td>
    <td>
        @Html.EditorFor(model => model.MinVisits)
        @Html.ValidationMessageFor(model => model.MinVisits)
    </td>
    <td>
        @Html.EditorFor(model => model.MaxVisits)
        @Html.ValidationMessageFor(model => model.MaxVisits)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Save</button><button class="cancelEditRow">Cancel</button>
} else {
        <button class="createRow">Create</button><button class="cancelCreateRow">Cancel</button>
}
    </td>
</tr>
