@model Boy_Scouts_Scheduler.Models.SchedulingConstraint

<tr @if (Model != null) {
    @:data-pkey="@Model.ID"
}>
    <td>
        @Html.DropDownListFor(model => model.Group.ID, new SelectList(ViewBag.Groups, "ID", "Name"), "All")
        @Html.ValidationMessageFor(model => model.Group.Name)
    </td>
    <td>
        @Html.DropDownListFor(model => model.GroupType.ID, new SelectList(ViewBag.GroupTypes, "ID", "Name"))
        @Html.ValidationMessageFor(model => model.GroupType.Name)
    </td>
    <td>
        @Html.DropDownListFor(model => model.Station.ID, new SelectList(ViewBag.Stations, "ID", "Name"))
        @Html.ValidationMessageFor(model => model.Station.Name)
    </td>
    <td>
        @Html.EditorFor(model => model.VisitNum)
        @Html.ValidationMessageFor(model => model.VisitNum)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit") {
        <button class="editRow">Save</button><button class="cancelEditRow">Cancel</button>
} else {
        <button class="createRow">Create</button><button class="cancelCreateRow">Cancel</button>
}
    </td>
</tr>
