@model Boy_Scouts_Scheduler.Models.Group

<tr @if (Model != null) {
    @:data-pkey="@Model.ID"
}>
    <td>
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </td>
    <td>
        @Html.DropDownListFor(model => model.TypeID, new SelectList(ViewBag.GroupTypes, "ID", "Name")) 
        @Html.ValidationMessageFor(model => model.Type.Name)
    </td>
    <td>
        @Html.DropDownListFor(model => model.Preference1.ID, new SelectList(ViewBag.Stations, "ID", "Name"))
        @Html.ValidationMessageFor(model => model.Preference1.Name)
    </td>
    <td>
        @Html.DropDownListFor(model => model.Preference2.ID, new SelectList(ViewBag.Stations, "ID", "Name")) 
        @Html.ValidationMessageFor(model => model.Preference2.Name)
    </td>
    <td>
        @Html.DropDownListFor(model => model.Preference3.ID, new SelectList(ViewBag.Stations, "ID", "Name")) 
        @Html.ValidationMessageFor(model => model.Preference3.Name)
    </td>
    <td>
        @Html.DropDownListFor(model => model.Preference4.ID, new SelectList(ViewBag.Stations, "ID", "Name")) 
        @Html.ValidationMessageFor(model => model.Preference4.Name)
    </td>
     <td>
        @Html.DropDownListFor(model => model.Preference5.ID, new SelectList(ViewBag.Stations, "ID", "Name")) 
        @Html.ValidationMessageFor(model => model.Preference5.Name)
    </td>
    <td>
@if (ViewContext.RouteData.Values["Action"].ToString() == "Edit")
{
        <button class="editRow">Save</button><button class="cancelEditRow">Cancel</button>
}
else
{
        <button class="createRow">Create</button><button class="cancelCreateRow">Cancel</button>
}
    </td>
</tr>
