@model IEnumerable<Boy_Scouts_Scheduler.Models.Group>

@foreach (var item in Model)
{    
    <tr data-pkey="@item.ID">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preference1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preference2.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preference3.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preference4.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preference5.Name)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>
        </td>
    </tr>
}
        