<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Cub Scouts Scheduler</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
        @RenderSection("html_head", false)
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div>
                    
                </div>
                <div>
                <p class="site-title"><img src="@Url.Content("~/images/cubscout.gif")" alt="ASP.NET" />@Html.ActionLink("Cub Scouts Scheduler", "Index", "Home")</p>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Time Slots", "Index", "TimeSlot")</li>
                            <li>@Html.ActionLink("Stations", "Index", "Station")</li>
                            <li>@Html.ActionLink("Groups", "Index", "Group")</li>
                            <li>@Html.ActionLink("Constraints", "Index", "SchedulingConstraint")</li> 
                            <li>@Html.ActionLink("Schedules", "Index", "Schedule")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Cub Scouts Scheduler | @Html.ActionLink("Help & Contact Information", "Index", "Help")</p>
                </div>
                <div class="float-right">
                </div>
            </div>
        </footer>
        <!--[if lte IE 8]>
        <script>
            setInterval(function () { $('#AjaxGrid tbody tr:nth-child(odd)').css('background-color', '#D3D3D3').css('color', 'black'); }, 10);
        </script>
        <![endif]-->
    </body>
</html>
