@{
    ViewBag.Title = "Help";
    ViewBag.Message = "Select your help topic.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        If help is needed beyond what is available in the help topics to the right, <br />
        Please feel free to contact the 'Cub Scout Scheduler' developers below. <br />

        <div>
        Michael Diekema
        </div>
        <div>
        Andrew Edwards
        </div>
        <div>
        Moustafa Eid
        </div>
        <div>   
        Stephen Halter
        </div>

    </p>

</article>

<aside>
    <h3>Help Topics</h3>
        <ul>
            <li>@Html.ActionLink("Imports", "ImportHelp", "Home")</li>
            <li>@Html.ActionLink("Time Slots", "TimeSlotHelp", "Home")</li>
            <li>@Html.ActionLink("Groups", "GroupHelp", "Home")</li>
            <li>@Html.ActionLink("Stations", "StationHelp", "Home")</li>
            <li>@Html.ActionLink("Constraints", "ConstraintHelp", "Home")</li>
            <li>@Html.ActionLink("Schedules", "ScheduleHelp", "Home")</li>
        </ul>
</aside>