@{
    ViewBag.Title = "View Schedules";
    ViewBag.Message = "View various schedules here.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p> Use this page to view generated schedules in various forms. </p>

<aside>
    <h3>Select your schedule view</h3>
    <ul>
        <li>@Html.ActionLink("Master", "Index", "Home")</li>
        <li>@Html.ActionLink("Group", "About", "Home")</li>
        <li>@Html.ActionLink("Station", "Contact", "Home")</li>
    </ul>
</aside>
