@model Boy_Scouts_Scheduler.Models.Station
@using Boy_Scouts_Scheduler.Models
@using System.Collections

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Station</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Capacity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capacity)
            @Html.ValidationMessageFor(model => model.Capacity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label editor-field editor-custom">
            <label for="ActivityPin">@Html.CheckBoxFor(model => model.isActivityPin)</label>
            @Html.ValidationMessageFor(model => model.isActivityPin)
        </div>

        <br />
        <br />

        <div class="editor-label">
            @Html.Label("Available Time Slots") 
        </div>
        <div>
            <table>
            @{
                int numDays = ViewBag.TimeSlots.Length;
                bool timeSlotsRemaining = true;
            }
            @while (timeSlotsRemaining)
            {
                timeSlotsRemaining = false;
                <tr>
                @for (int i = 0; i < numDays; i++)
                {
                    IEnumerator<TimeSlot> dayEnumerator = ViewBag.TimeSlots[i];
                    if (dayEnumerator.MoveNext())
                    {
                        TimeSlot slot = dayEnumerator.Current;
                        timeSlotsRemaining = true;
                        <td>
                            <input type="checkbox" name="TimeSlotIDs" value="@slot.ID" id="check-@slot.ID"
                            @if (Model.AvailableTimeSlots.Where(x => x.ID == slot.ID).Any())
                            {
                                @: checked="checked"
                            }
                            />
                            <label for="check-@slot.ID" style="font-size:80%; font-weight: normal; display: inline;">@slot.Name</label>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                </tr>
            }
            </table>
            <button type="button" onclick="javascript:$('input[name=\'TimeSlotIDs\']').attr('checked', 'checked')">Select All</button>
            <button type="button" onclick="javascript:$('input[name=\'TimeSlotIDs\']').removeAttr('checked')">Select None</button>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
