@model IEnumerable<Boy_Scouts_Scheduler.Models.Station>

@foreach (var item in Model) {
    <tr data-pkey="@item.ID">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.ActivityPin)
        </td>
        <td class="rowControl hidden">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            <a href="#deleteRow" class="deleteRow">Delete</a>
        </td>
    </tr>
}
